#NAMESPACE
#andy south 30/6/13

# Export all names
#exportPattern(".")
# Export all names not starting with .
exportPattern("^[^\\.]")

# Import all packages listed as Imports or Depends
import(
  sp,
  maptools,
  foreign,
  fields,
  spam
)
