#NAMESPACE
#andy south 30/6/13

#importFrom("RJSONIO", "toJSON")


importFrom("fields", "image.plot")
importFrom("maptools", "readAsciiGrid")
#not used but useful & mentioned in examples
importFrom("maptools", "readShapePoly")

# Import all packages listed as Imports or Depends
import(sp)

#  maptools,
#  foreign
#  fields,
#  spam
#)


# Export all names
#exportPattern(".")
# Export all names not starting with .
#exportPattern("^[^\\.]")

##functions
export(addMapLegend, addMapLegendBoxes, aggregateHalfDegreeGridToCountries)
export(barplotCountryData)
export(country2Region)
export(getMap)
export(identifyCountries, isoToName)
export(joinCountryData2Map, joinData2Map)
export(labelCountries)
export(mapBars, mapBubbles, mapByRegion, mapCountryData, mapDevice, mapGriddedData, mapHalfDegreeGridToCountries, mapPies, mapPolys)
export(rwmGetISO3)
export(setMapExtents)







